@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border-radius: 0.5rem;
  font-family: inherit;
}

.react-calendar__tile {
  padding: 0.75em 0.5em;
  border-radius: 9999px;
  margin: 2px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #fef9c3;
  color: #854d0e;
}

.react-calendar__tile--now {
  background: #fef9c3;
  color: #854d0e;
}

.react-calendar__tile--active {
  background: #eab308;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #ca8a04;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fef9c3;
  border-radius: 0.5rem;
}

.react-calendar__navigation {
  margin-bottom: 1rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  color: #666;
}