# Server and client node_modules
server/node_modules/
client/node_modules/

# Environment files
server/.env
client/.env

# macOS files
.DS_Store

# Logs
*.log

# Build folders (optional)
client/build/
server/dist/
